* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Roboto', sans-serif;
    font-size: 60%;
    width: 100%;
    min-width: 325px;
    display: grid;  
    justify-items: center;
}

a {
    text-decoration: none;
    color: var(--dark);
}

:root{
    --purple_primary: #6c5dd3;
    --blue_secondary: #0049c6;
    --pink_accent1: #ffa2c0;
    --yellow_accent2: #ffce73;
    --dark: #1b1d21;
    --white: white;
    --dark_shadow: #cacaca;
    --dark_shadow2: #797878;
}

.navbar {
    width: 100vw;
    min-width: 325px;
    height: 40px;
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: bold;

    
}

.header {
    width: 100vw;
    display: grid;
    min-height: 150px;
    justify-items: center;
    
    

}
.header :nth-child(1){
    font-size: 1.4rem;
    align-self: flex-end;
    
}
.header :nth-child(2){
    font-size: 2rem;
    margin-top: 5px;
    font-weight: bold;
    align-self: flex-start;
    
}
.main {
    display: grid;
    padding: 12px;
    max-width: 600px;  
   
}

.main .main_links {
    box-shadow: 0 0 30px var(--dark_shadow);
    padding: 12px;
    border-radius: 16px;  
}

.main .main_text-discover {
    font-size: 1.2rem;
    margin-top: 16px;
    font-weight: bold;
}

.main .main_container_links-group{
    margin-top: 16px;
    margin-bottom: 12px;  
}

.main .main_container-invidual-link {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    'name image'
    'text image'
    ;    
}

.main .main_container-invidual-link :nth-child(1) {
    font-size: 1.2rem;
    font-weight: bold;
    align-self: flex-end;
}

.main .main_container-invidual-link :nth-child(2){
    grid-area: image;
    width: 100px;
    height: 80px;
    object-fit: contain;
    object-position: center center;
}
.main .main_container-invidual-link :nth-child(3) {
    font-size: 1rem;
    color: var(--dark_shadow2);
}

.main .main_links .main_links_discover {
    background-color: var(--dark);
    border-radius: 12px;
    padding: 12px;
    min-width: 250px;
    height: 50px;
    justify-self: center;
    display: flex;
    align-items: center;
    color: var(--white);
    justify-content: center;  
}

.main .main_links .main_links_discover a {
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    
}

.discount_e2t {
    margin-top: 12px;
    box-shadow: 0 0 30px var(--dark_shadow);
    border-radius: 16px;
    padding: 12px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    'title title'
    'description description'
    'table1 table2' 
    ;
    gap: 8px;
}

.main .discount_e2t .title_count_e2t {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: #EC661A;
    grid-area: title;
}

.main .discount_e2t .description_short_e2t {
    font-size: 1rem;
    text-align: center;
    grid-area: description;
}

.main .discount_e2t .content_type_count_e2t {
    display: grid;
    gap: 4px;
    grid-template-rows: repeat(7, 2fr );
    align-items: center;
}

.main .discount_e2t .content_characteristic_e2t {
    background-color: #475259;
    display: flex;
    height: 30px;
    align-items: center;
    color: var(--white);
    font-size: .6rem;
    padding: 4px;
    border-radius: 2px;
}

.main .discount_e2t .dates_charecteristcs {
    display: grid;
    gap: 4px;
    font-size: .8rem;
    text-align: center;
    grid-template-rows: repeat(7, 2fr);
    border: 1px solid #EC661A;
    border-radius: 8px;
    border-bottom: none;
    align-items: center;
    justify-items: center;
}
.main .discount_e2t .dates_charecteristcs .size_count_e2t{
    font-weight: bold;
    font-size: 1rem;
}
.main .discount_e2t .dates_charecteristcs p {
    padding: 4px;
}

.main .discount_e2t .dates_charecteristcs strong {
    font-weight: bold;
    font-size: 1.2rem;
}


.main .discount_e2t .dates_charecteristcs .link_e2t_content{
    padding: 4px;
    width: 100%;
    border-radius: 4px;
    height: 100%;
    display: grid;
    align-items: center; 
    background-color: #EC661A;
}

.main .discount_e2t .dates_charecteristcs .link_e2t_content a {
    text-decoration: none;
    color: var(--white);
    font-size: .9rem;  
}
.main .discount_e2t .dates_charecteristcs .link_e2t_content:hover {
    box-shadow: 0 0 20px  #EC661A; 
}

.main .discount_upt{
    margin-top: 12px;
    box-shadow: 0 0 30px var(--dark_shadow);
    border-radius: 16px;
    padding: 12px;
    display: flex;
    gap: 12px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    
}

.main .discount_upt .type_count-25k {
    min-width: 300px;
    position: relative;
    display: grid;
    grid-template-rows: repeat(3, auto) 7fr;
    margin-top: 12px;
    scroll-snap-align: center;
}

.main .discount_upt .type_count-25k .title_count_upt {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    align-self: flex-end;   
}

.main .discount_upt .type_count-25k .description_short_upt {
    text-align: center;
    font-size: 1rem;
    color: var(--dark_shadow2);
    align-self: flex-start;
}
.main .discount_upt .type_count-25k .size_count-upt {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #faaf3b;
    align-self: flex-start;
}

.main .discount_upt .type_count-25k .description_count25k {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 16px;
    gap: 4px;
    width: 100%;  
}


.main .discount_upt .type_count-25k .description_count25k .content_type_count_upt {
    display: grid;
    grid-template-rows: repeat(7, 2fr);
    align-items: center;
    gap: 8px;   
}

.main .discount_upt .type_count-25k .description_count25k .content_type_count_upt .content_characteristic_upt{
    background-color:#002169 ;
    color: var(--white);
    padding: 6px;
    font-size: .7rem;
    border-radius: 2px;
}

.main .discount_upt .type_count-25k .description_count25k .dates_charecteristcs_upt {
    text-align: center;
    display: grid;
    grid-template-rows: repeat(7, 2fr);
    align-items: center;
    font-size: .8rem;
    border: 1px solid #002169;
    border-radius: 8px;
    border-bottom: none;
}

.main .discount_upt .type_count-25k .description_count25k .dates_charecteristcs_upt a {
    text-decoration: none;
    color: var(--white);
    width: 100%;
    height: 100%;
    background-color: #002169;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-weight: bold;
    padding: 6px;
}

.main .discount_upt .type_count-25k .description_count25k .dates_charecteristcs_upt .link_upt_content:hover {
    box-shadow: 0 0 20px #002169;
}
